# foundation.
apps/

# macOS.
**/.DS_Store

# Dart & Flutter.
**/.dart_tool
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.metadata
**/build
**/pubspec.lock

# Ignore subrepos.
___generators/.git
_data/.git
_service_interfaces/.git
_services/.git
_view/.git

# Firebase.
**/.firebase
**/firebase-debug.log

# Node.js.
**/node_modules/

