[submodule "___generators"]
    path = ___generators
    url = https://github.com/robmllze/___generators-foundation.git

[submodule "_data"]
    path = _data
    url = https://github.com/robmllze/_data-foundation.git

[submodule "_service_interfaces"]
    path = _service_interfaces
    url = https://github.com/robmllze/_service_interfaces-foundation.git


[submodule "_services"]
    path = _services
    url = https://github.com/robmllze/_services-foundation.git

[submodule "_view"]
    path = _view
    url = https://github.com/robmllze/_view-foundation.git
